* {
    margin: 0;
    box-sizing: border-box;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.body {

}

.wrapper {
    max-width: 1470px;
	min-width: 237px;
	padding: 0 15px;
	margin: 0 auto;
}

a {
	color: blue;
	&:hover {
		color: red;
	}
}