* {
    margin: 0;
}

.body {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}


.p {
    color: #3D3D3D;
    line-height: 16px; /* 100% */
}

/* h1 {
    font-size: 24px;
} */

/* .name {

} */
/* 
#id {

} */
/*
наслідуваність
каскадність
стилі за замовчуванням
специфічність -> приорітетність
*/


.text {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Tahoma', sans-serif;
    /* font-family: 'Times New Roman', serif; */
    text-align: center;
    color: green;
    /* color: #000000;
    color: #ffffff;
    color: rgb(255,255,255);
    color: rgb(0,0,0);
    color: rgba(34,56,234,0.5); */
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
    text-decoration: underline;
}

/* .link {
    text-decoration: none;
    color: green;
}


.about {
    color: red;
}

.about-link {
    color: green;
} */


/* 

article {
    color: red;
}

.mytext {
    font-size: 24px;
}


.daddy {
    color: red;
}

.mommy {
    font-size: 34px;
}

.my-home {

} */





/* 

.item {
    color: red;
}

.item-link {
    color: green;
} */

/* 
.item {
    color: red;
}

.item p {
    color: blue;
}


.item .item-text {
    color: red;
}


.item {
    font-style: italic;
}

section {
    color: red;
}

#it {
    line-height: 30px;
}

.btn {
    cursor: pointer;
} */



#texted {
    color: green;
}

p {
    color: red;
}

.texbox {
    color: blue;
}




.boxdiv {
    color: red;
}






.element {
    color: red;
}

.element {
    color: blue;
}






.future {                   /* 0 1 0 */
    color: red;
}

.site {                      /*0 1 0*/
    color: green;
}

#sectionbox .future {               /* 1 1 0*/
    /* color: black; */
}

.secur .future {             /*0 2 0*/
    /* color: aqua; */
}

.site .divbox p {           /*0 2 1*/
    /* color: blue; */
}

#sectionbox .site .future {     /*1 2 0*/
    /* color: coral; */
}

section .site div .elem p {    /* 0 2 3*/
    /* color: blueviolet; */
}

.secur .site .divbox .elem .future {    /*0 5 0*/
    /* color: darkgoldenrod; */
}

#sectionbox article div span .future {  /*1 1 3*/
    /* color: dodgerblue; */
}




/* Блочна модель документу (5 css) */







.meller {
    background-color: green;
    
    /* padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 60px; */

    /* padding: 20px; */
    /* padding: 20px 40px; */
    /* padding: 20px 40px 60px; */
    padding: 30px 40px 50px 60px;

    /* margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 60px; */

    /* margin: 30px;
    margin: 20px 40px;
    margin: 20px 40px 60px; */
    margin: 40px 30px 60px 70px;




    /* border-top: 5px solid red;
    border-right: 10px dashed black;
    border-bottom: 15px dotted blue;
    border-left: 20px double orange; */

    border: 10px solid black;


    /* border-width: 10px;
    border-style: solid;
    border-color: black; */


    border-top: 5px solid red;

    /* border-top-width: 5px; */

    width: 300px;
    height: 200px;

}


.meller-link {
    font-size: 40px;
    /* padding-right: 50px; */
    margin-right: 50px;
}


.boxblock {
   width: 100px;
   height: 100px;
   padding: 20px;
   border: 5px solid black;
   margin: 30px;
   background-color: red;
}

.boxinline {
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
    background-color: red;  
}


.popup {
    width: 300px;
    padding: 50px 100px 40px;
    border-bottom: 10px solid green;
}

.input {
    border-radius: 16px;
    width: 272px;
    padding: 0 14px;
    height: 40px;
}