* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #48555B;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 23px;
    border-bottom: 1px solid gray;
}

.logo {
    float: left;
}

.menu {
    float: right;
}

.menu ul {
    padding-left: 0;
    list-style: none;
}

.menu li {
    float: left;
    padding-left: 30px;
}

.menu a {
    font-size: 12px;
    color: #48555B;
    text-transform: uppercase;
    text-decoration: none;
}

.menu a:hover {
    color: #00A4E5;
}


.story {
    padding-top: 57px;
}

.story h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 64px;
}

.story-text {
    width: 460px;
    float: left;
}

.story-text h3 {
    
    font-size: 20px;
    padding-bottom: 28px;
}

.story-text p {
    font-size: 13px;
    padding-bottom: 28px;
}

.story-pics {
    width: 480px;
    float: left;
}

.story-item {
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    padding: 15px 14px;
    float: left;
    width: 140px;
    margin-left: 20px;
    min-height: 224px;
}

.story-item-01 {
    background-image: url('../img/srory-01.jpg');
}
.story-item-02 {
    background-image: url('../img/srory-02.jpg');
}
.story-item-03 {
    background-image: url('../img/srory-03.jpg');
    margin-right: 0;
}


.catalog {

}

.catalog-left {
    width: 285px;
    margin-right: 20px;
    float: left;
}

.catalog-main {
    width: 895px;
    float: left;
}





.catalog-item {
    width: 285px;
    margin-right: 20px;
    margin-bottom: 70px;
    float: left;
}

.catalog-item-pic {
    height: 300px;
    background-color: gray;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 12px;
}

.catalog-item-title {
    color: #3D3D3D;
    font-size: 16px;
    margin-bottom: 6px;
}

.catalog-item-price {
    color: #46A358;
    font-size: 18px;
    font-weight: bold;
}
.mr-0 {
    margin-right: 0;
}