.header
    display: flex
    &__logo
        padding-left: 20px
        margin-bottom: 30px
        a
            font-size: 20px
    &__phone
        font-style: 20px
        text-decoration: none
    &__menu
        list-style: none
        padding-left: 0