* {
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.img-left {
    float: left;
}

.imgright {
    float: right;
}

.item {
    width: 200px;
    padding: 20px;
    border: 2px solid black;
    float: left;
    min-height: 200px;
}

.logo {
    float: left;
}

.button {
    float: right;
}

.box {
    background-color: red;
}


.elements {
    font-size: 30px;
}

.elements::first-letter {
    font-size: 60px;
    color: red;
}

.elements::first-line {
    color: green;
    font-weight: bold;
}




.block {
    font-size: 60px;
    font-weight: bold;
    color: red;
}

.block::before {
    content: '';
    width: 20px;
    height: 20px;
    background-color: green;
    display: inline-block;
    vertical-align: middle;
}

.block::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: green;
    display: inline-block;
    vertical-align: middle;
}