* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}


.title {
    font-size: 70px;
}
.title span {
    color: green;
}


.capa-list {
    font-size: 0;
}



.capa-item {
    border: 1px solid #E6E6E6;
    width: 300px;
    padding: 40px 25px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.capa-item h3 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 13px;
}

.capa-item p {
    font-size: 13px;
    line-height: 23px;
    color: #48555B;
}

.mr-0 {
    margin-right: 0;
}