* {
    margin: 0;
    box-sizing: border-box;
}

.box {
    background-image: url('../img/cart.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    border: none;
    background-color: lightblue;
    padding: 20px 20px 20px 50px;
    
}
.box:hover {
    background-color: yellow;
}

.box2 {
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: burlywood;
}


.box2:hover {
    background-color: red;
}

.box2:hover path {
    fill: #ffffff;
}

/* box model */



.template {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    background-color: red;
}


.template-inline {
    width: 200px;
    height: 200px;
    /* padding: 0 20px; */
    /* padding: 20px 0; */
    /* border-left: 10px solid green;
    border-right: 10px solid green; */
     /* border-top: 10px solid green;
    border-bottom: 10px solid green; */
    /* margin: 0 20px; */
    margin: 100px 0;
    background-color: red;
}

.box10 {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    background-color: red;
}

.box11 {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    background-color: green;
}


.parent {
    background-color: red;
}

.child {
    margin-top: 50px;
}



.box25 {
    background-color: red;
    padding: 0 20px;
    border: 10px solid black;
    /* width: auto; !== width: 100%;*/
} 


.sizing {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 10px solid black;
    background-color: red;
    box-sizing: border-box;
}



.box40 {
    font-family: Tahoma, sans-serif;
}

.box40 span {
    font-family: inherit;
}


.box47 {
    background-color: red;
    width: 200px;
    height: 200px;
    display: inline;;
}

.box48 {
    background-color: red;
    width: 200px;
    height: 200px;
    display: none;
}



.parent32 {
    font-size: 0;
}


.item32 {
    width: 200px;
    /* height: 200px; */
    padding: 5px;
    border: 1px solid black;
    background-color: lightcoral;
    display: inline-block;
    /* vertical-align: baseline; */
    vertical-align: top;
    /* vertical-align: middle; */
    font-size: 16px;
}